body {
    margin: 0;
    padding: 0;
	background: rgb(39, 40, 34);
    color: rgb(151, 170, 193);
	overflow: hidden;
}

a {
    color: rgb(102, 217, 239);
}

a:visited {
    color: rgb(174, 129, 255);
}

.interface {
    position: absolute;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
    height: 100%;
	
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

.interface .input, .interface .output {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
	height: 100%;
    width: 100%;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    box-sizing: border-box;
    white-space: pre;
	padding-bottom: 0;
}

.interface .input {
	color: white;
    overflow: auto;
    border: none;
    outline: none;
    background: none;
    resize: none;
}

.interface .output {
    overflow: hidden;
}

.interface .output .empty {
    visibility: hidden;
}

.interface .output .function {
    color: grey;
}

.interface .output .value {
    color: grey;
}

.interface .output div {
    display: block;
}

.interface .output .prefix:before {
    content: attr(data-prefix);
    color: #E9E9E9;
}

.interface .output .data {
    z-index: 1;
    position: relative;
}

.interface .output .result {
    color: silver;
}

.interface .output .error {
    color: red;
}

.info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 350px;
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
    font-family: Arial;
}

.info h1 {
    margin-top: 0;
    margin-bottom: 0px;
}

.info h2 {
    margin-bottom: 0px;
}

.info hr {
    border: 1px solid #E6E6E6;
    border-bottom: none;
}

.info pre:after {
    content: attr(data-result);
    color: grey;
}